apiVersion: v1
kind: Secret
metadata:
  name: {{ include "calendo.backend.fullname" . }}-db-credentials
  labels:
    {{- include "calendo.backend.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: database
type: Opaque
data:
  {{- if .Values.cnpg.enabled }}
  DB_USER: {{ .Values.cnpg.database.owner | default "calendo" | b64enc | quote }}
  DB_PASSWORD_SECRET: {{ .Values.cnpg.database.secret | b64enc | quote }}
  DB_NAME: {{ .Values.cnpg.database.name | default "calendo" | b64enc | quote }}
  DB_HOST: {{ printf "%s-rw" .Values.cnpg.cluster.name | b64enc | quote }}
  {{- else }}
  DB_USER: {{ .Values.postgresql.auth.username | default "postgres" | b64enc | quote }}
  DB_PASSWORD: {{ .Values.postgresql.auth.password | default "postgres" | b64enc | quote }}
  DB_NAME: {{ .Values.postgresql.auth.database | default "calendo" | b64enc | quote }}
  {{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
  labels:
    {{- include "calendo.backend.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: image-pull-secret
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ printf "{\"auths\":{\"ghcr.io\":{\"username\":\"%s\",\"password\":\"%s\",\"auth\":\"%s\"}}}" .Values.imageRegistry.username .Values.imageRegistry.password (printf "%s:%s" .Values.imageRegistry.username .Values.imageRegistry.password | b64enc) | b64enc }}
